<div class="flex h-screen bg-slate-50 p-5">
  <div class="m-auto">
    <!-- <img
      src="../../assets/hug.png"
      alt=""
      class="mx-auto rounded-md"
      height="150px"
    /> -->
    <h3 class="text-2xl text-center font-bold text-blue-700">
      Welcome to Hug Me !!!
    </h3>
    <p class="font-light text-center mb-5">
      Get a random HUG gif everytime you visit Hug Me.
    </p>
    <img
      [src]="randomGif.media[0]['gif'].url"
      alt=""
      class="mx-auto rounded-md"
    />
    <p class="m-2">{{ randomGif.content_description }}</p>
    <button
      (click)="fetchGif()"
      class="bg-transparent hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-4 px-4 border border-blue-500 hover:border-transparent rounded my-4"
    >
      More GIFs
    </button>
  </div>
</div>
